<h1>Actors</h1>

<%= form_with url: actors_path, method: :get, local: true do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @actors.any? %>
  <ul>
    <% @actors.each do |actor| %>
      <li><%= link_to actor.name, actor_path(actor) %></li>
    <% end %>
  </ul>

  <%= paginate @actors %>
<% else %>
  <p>No actors found.</p>
<% end %>
