<h1><%= @actor.name %></h1>

<h2>Movies</h2>
<ul>
  <% @actor.movies.each do |movie| %>
    <li><%= link_to movie.title, movie_path(movie) %></li>
  <% end %>
</ul>

<%= link_to 'Back to Search', actors_path %>
