<h1>All Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Year</th>
      <th>Director</th>
      <th>Country</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= truncate(movie.description, length: 100) %></td>
        <td><%= movie.year %></td>
        <td><%= movie.director %></td>
        <td><%= movie.country %></td>
        <td><%= movie.average_rating || 'None' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @movies %>