<h1><%= @movie.title %></h1>

<p><strong>Description:</strong> <%= @movie.description %></p>
<p><strong>Year:</strong> <%= @movie.year %></p>
<p><strong>Director:</strong> <%= @movie.director %></p>
<p><strong>Country:</strong> <%= @movie.country %></p>
<p><strong>Average Rating:</strong> <%= @movie.average_rating || 'None' %></p>

<h2>Actors</h2>
<ul>
  <% @movie.actors.each do |actor| %>
    <li><%= link_to actor.name, actor_path(actor) %></li>
  <% end %>
</ul>

<h2>Filming Locations</h2>
<ul>
  <% @movie.locations.each do |location| %>
    <li><%= location.filming_location %></li>
  <% end %>
</ul>

<%= link_to 'Back to Movies', movies_path %>
